* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: relative;
	background-color:rgb(234, 235, 227);
}

.wrapper{
	display: flex;
	max-width: 1500px;
	align-self: center;
	justify-self:center;
	align-content: center;
	border: 1px solid rgb(182, 145, 98);
	margin: 100px auto auto;
	background-color: antiquewhite;
}

.content{
	margin: auto;
	width: auto;
	flex-wrap: wrap;
	border: 1px solid rgb(182, 145, 98);
	background-color: antiquewhite;
}

.content--p{
	max-width: 1000px;
	padding: 10px;
	flex-wrap: wrap;
	border: 1px solid yellow;
	font-size: 50px;
	background-color: bisque;
}

.sidenav--ul{
	margin: 40px auto;
	width: auto;
	border: 1px solid rgb(182, 145, 98);
	list-style: none;
}

.sidenav--li{
	display: flex;
	min-width: 200px;
	padding: 20px;
	justify-content: center;
	border: 1px solid rgb(216, 179, 100);
	background-image: url(./img/one.png);
	background-color: bisque;
}

.li--img {
	width: 70px;
	height: 100%;
	object-fit: contain;
	background-color: bisque;
}

